.navbar {
    background-color:	#AA336A;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #ddd;
}
